﻿body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    font-family: 'Segoe UI';
    position:relative;
}

a {
    text-decoration: none;
}

.hspace {
    height: 15px;
    clear: both;
}

.clear {
    clear: both;
}

div {
    position: relative;
}

#imageEditor {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 400px;
    z-index: 0;
    border: solid 1px #ffffff;
    background: #fff;
}

.hidden {
    display: none;
}

.magnum_game {
    width: 900px;
    height: 500px;
    margin: 0 auto;
    background: url(../Images/BG_Game.jpg) no-repeat 0px 0px #000;
    padding-top: 180px;
    position: relative;
}

.game_content {
    background: url(../Images/bg_gamecontent.png) 0px 0px transparent;
    width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    padding-right: 0px;
    padding-bottom: 0px;
    min-height:445px;
}

    .game_content .images_use {
        color: #fff;
        font-size: 14px;
        float: left;
        font-family: 'Segoe UI';
    }

    .game_content .images_notuse {
        color: #fff;
        font-size: 14px;
        float: right;
        font-family: 'Segoe UI';
    }

.images_use img {
    margin-right: 20px;
    float: left;
}

.images_use ul, .images_notuse ul {
    margin-left: 20px;
    padding: 0;
}

    .images_use ul li, .images_notuse ul li {
        font-size: 14px;
        font-family: 'Segoe UI';
        list-style-image: url(../Images/check.png);
        margin-bottom: 10px;
    }

.button_upload {
    background: url(../Images/button_game.png) no-repeat 0px 0px transparent;
    width: 154px;
    height: 43px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI';
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding-top: 7px;
    cursor: pointer;
}

div.error {
    color: #f00;
    display: block;
    padding: 10px;
    font-family: Arial;
    font-size: 12px;
}

label.error {
    display: block;
}

input.error {
    border: solid 1px #CC0000;
    cursor: pointer;
    margin: 0 auto;
}

.makeup_step2 {
    width: 800px;
}

    .makeup_step2 .DrawLocal {
        width: 350px;
        /*overflow:hidden;*/
        float: left;
    }

.scrollbar {
    width: 350px;
    height: 10px;
    display: block;
    margin-left: 110px;
}

.examp {
    float: right;
    margin-right: 20px;
    width: 400px;
    text-align: center;
}

.text_examp {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom:10px;
    margin-top:10px;
}

.content_step3 {
    float: left;
    margin-left: 20px;
}

.img_step3 {
    width: 350px;
    float: left;
}

.menu_step3 {
    float: left;
    margin: 0;
    padding: 0;
}

    .menu_step3 li {
        list-style: none;
        float: left;
        margin-right: 10px;
    }

        .menu_step3 li a {
            display: block;
            width: 73px;
            color: #000;
            font-size: 12px;
            text-decoration: none;
            text-align: center;
            padding-top: 6px;
            height:20px;
            background: url(../Images/box.png) no-repeat 0px 0px transparent;
            /*-webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;*/
        }

            .menu_step3 li a.selected_pro {
                display: block;
            width: 73px;
            color: #000;
            font-size: 15px;
            text-decoration: none;
            text-align: center;
            padding-top: 7px;
            height:26px;
            background: url(../Images/box_select.png) no-repeat 0px 0px transparent;
            }

.choose_product_face, .choose_product_lip, .choose_product_eye {
    background-color: #000;
    display: none;
    color: #fff;
    padding: 10px;
    width: 400px;
}

.title_play {
    margin-left: 20px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content_desc {
    float:right;
    width:320px;
}
.desc_prod {
    margin-left: 10px;
    color: #e5c746;
    float: left;
    width: 300px;
    margin-bottom: 5px;
}
.text_smile {
    font-size:14px;
    display:none;
}
.smile {
     background: url(../Images/button_game.png) no-repeat 0px 0px transparent;
    display: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI';
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:45px;
    padding-right:45px;
    cursor: pointer;
}
.video_mascara {
    background:url(../Images/box_video.png) no-repeat 0px 0px transparent;
    width:450px;
    height:340px;
    padding-top:13px;
    padding-left:15px;
}


.close {
    background:url(../Images/close.png) no-repeat 0px 0px transparent;
    width:48px;
    height:48px;
    display:block;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}