﻿/*@import url(http://fonts.googleapis.com/css?family=Francois+One);*/

body {
    background: url('bg.jpg') no-repeat top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin: 0px;
    padding: 0px;
    font-family: 'Francois One', sans-serif;
}

.magnum {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

#splash {
    text-align: center;
    z-index: 10;
}

.start-button {
    -moz-box-shadow: inset 0px 0px 6px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 0px 6px 0px #fce2c1;
    box-shadow: inset 0px 0px 6px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #d4a715) );
    background: -moz-linear-gradient( center top, #ffc477 5%, #d4a715 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#d4a715');
    background-color: #ffc477;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #eeb44f;
    display: inline-block;
    color: #3c2654;
    font-family: arial;
    font-size: 0px;
    font-weight: bold;
    padding: 8px 39px;
    text-decoration: none;
    -webkit-text-shadow: 1px 3px 9px #cc9f52;
    text-shadow: 1px 3px 9px #cc9f52;
}

    .start-button:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4a715), color-stop(1, #ffc477) );
        background: -moz-linear-gradient( center top, #d4a715 5%, #ffc477 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4a715', endColorstr='#ffc477');
        background-color: #d4a715;
    }

    .start-button:active {
        position: relative;
        top: 1px;
    }

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#fontMeasurer {
    position: absolute;
    visibility: hidden;
    width: auto;
    height: auto;
    padding: 3px 5px;
}

#textContainer {
    overflow: hidden;
    display: none;
    z-index: 20;
}

.ribbon {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

#resultPane {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    z-index: 30;
}

    #resultPane table {
        width: 100%;
        height: 100%;
    }

        #resultPane table tr td {
            text-align: center;
            vertical-align: middle;
        }

#resultCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#flowerCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#resultText {
    font-size: 50px;
    font-weight: bold;
    color: #3C2654;
    -webkit-text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}


.number-counter {
    margin: 5px;
    height: 100px;
    width: 70px;
    position: relative;
    float: left;
}

.inner {
    position: absolute;
    width: 100%;
}

.divider {
    height: 50%;
    top: 0;
    border-bottom: 2px solid #1c1c1c;
    box-shadow: 0 1px 1px #b0b0b0;
    z-index: 2;
    border-radius: 3px;
    width: 72px;
}

.number {
    width: 100%;
    height: 100%;
    background: linear-gradient(#2c2c2c, #636363, #2c2c2c);
    background-image: -webkit-linear-gradient(#2c2c2c, #636363, #2c2c2c);
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    color: white;
    font: bold 70px "Arial", Helvetica, Arial, sans-serif;
    text-align: center;
    -webkit-text-shadow: 0px 2px 1px #bbbaba;
    text-shadow: 0px 2px 1px #bbbaba;
    box-shadow: 0 1px 3px #444, 0 1px 1px #b0b0b0 inset;
    overflow: hidden;
}


.slot {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 100px;
}

.knob {
    top: 46%;
    height: 13px;
    width: 4px;
    border: 1px solid #444;
    border-radius: 2px;
    background: linear-gradient(#999, #ddd, #999);
    background-image: -webkit-linear-gradient(#999, #ddd, #999);
    box-shadow: 0 1px 1px #f0f0f0 inset;
    z-index: 4;
}

.knob-left {
    left: -3px;
}

.knob-right {
    right: -5px;
}


.guide-text {
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.end-button {
    -moz-box-shadow: inset 0px 0px 6px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 0px 6px 0px #fce2c1;
    box-shadow: inset 0px 0px 6px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #d4a715) );
    background: -moz-linear-gradient( center top, #ffc477 5%, #d4a715 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#d4a715');
    background-color: #ffc477;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #eeb44f;
    display: inline-block;
    color: #3c2654;
    font-family: arial;
    font-size: 36px;
    font-weight: bold;
    padding: 8px 39px;
    text-decoration: none;
    -webkit-text-shadow: 1px 3px 9px #cc9f52;
    text-shadow: 1px 3px 9px #cc9f52;
    margin-top: 50px;
}

    .end-button:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4a715), color-stop(1, #ffc477) );
        background: -moz-linear-gradient( center top, #d4a715 5%, #ffc477 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4a715', endColorstr='#ffc477');
        background-color: #d4a715;
    }

    .end-button:active {
        position: relative;
        top: 1px;
    }
