﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Step2.aspx.cs" Inherits="Magnum_Game.MakupStep2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script src="Scripts/kinetic-v4.3.0.min.js"></script>
    <script src="Scripts/kineticjs.viewport-v1.0.0.js"></script>
    <script src="Scripts/GlowFilter.js"></script>
    <script src="Scripts/jquery.transit.min.js"></script>
    <script src="Scripts/Makeup.js"></script>
    <script type="text/javascript">
        function tabstrans(id) {
            id = id.toString();
            $('#face').removeClass('selected_pro');
            $('#lip').removeClass('selected_pro');
            $('#eye').removeClass('selected_pro');
            $(".choose_product_face").hide();
            $(".choose_product_lip").hide();
            $(".choose_product_eye").hide();

            $('#' + id).addClass('selected_pro');
            if (id == 'face') {
                $(".choose_product_face").fadeIn();
                $(".choose_product_lip").fadeOut();
                $(".choose_product_eye").fadeOut();
            }
            else if (id == 'lip') {
                $(".choose_product_face").fadeOut();
                $(".choose_product_lip").fadeIn();
                $(".choose_product_eye").fadeOut();
            }
            else if (id == 'eye') {
                $(".choose_product_face").fadeOut();
                $(".choose_product_lip").fadeOut();
                $(".choose_product_eye").fadeIn();
            }
        }

        function SelectFace() {
            //clear color selected in scroll
            $("a").removeClass("Color_selected");

            var tabselected = $(".selected_pro").attr("id");
            var tabclass = "";
            if (tabselected == "face") {
                tabclass = "choose_product_face";
                var note1 = $("." + tabclass).children(".note1");
                var note2 = $("." + tabclass).children(".note2");
                var note3 = $("." + tabclass).children(".note3");

                if (note1.css("display") == "block" && note2.css("display") == "none" && note3.css("display") == "none") {
                    note1.hide();
                    note2.fadeIn();
                }
                else if (note1.css("display") == "none" && note2.css("display") == "block" && note3.css("display") == "none") {
                    note2.hide();
                    note3.fadeIn();
                }
                else if (note1.css("display") == "none" && note2.css("display") == "none" && note3.css("display") == "block") {
                    $(".choose_product_face").hide();
                    $(".choose_product_lip").fadeIn();
                    $(".choose_product_eye").hide();
                    ClearClass();
                    $('#lip').addClass('selected_pro');
                }
            }
            else if (tabselected == "lip") {
                tabclass = "choose_product_lip";
                //var note1 = $("." + tabclass).children(".note1");
                var note2 = $("." + tabclass).children(".note2");
                //if (note1.css("display") == "block" && note2.css("display") == "none") {
                //    note1.hide();
                //    note2.fadeIn();
                //}
                if (note2.css("display") == "block") {
                    $(".choose_product_face").hide();
                    $(".choose_product_lip").hide();
                    $(".choose_product_eye").fadeIn();
                    ClearClass();
                    $('#eye').addClass('selected_pro');
                    // Xử lý hiển thị chữ và logo mascara.
                    $("a.button_upload").hide();
                    $('#backgroundtransparent').show();
                    $('.mascara_text').show();
                    $('.mascara_text').transition({ scale: 5, duration: 800, opacity: 1, }, function () {
                        $(this).transition({ scale: 1, duration: 200 }, function () {
                            $('.mascara_text').delay(400).fadeOut('fast', function () {
                                $('.mascara_image').show();
                                $('.mascara_image').transition({ scale: 0.5, duration: 200 }, function () {
                                    $(this).delay(400).fadeOut('fast', function () {
                                        $('#continue_magnum').show();
                                    });
                                });
                            });
                        });
                    });
                }
            }
            else if (tabselected == "eye") {
                tabclass = "choose_product_eye";
                if ($('.mascara_image').css("display") != "none") {
                    $('.mascara_image').fadeOut();
                    $('.mascara_text').fadeOut(function () {
                        $('.magnum_image').transition({ scale: 1 });
                    });
                }
            }
        }

        function PrevFace() {
            //clear color selected in scroll
            $("a").removeClass("Color_selected");

            var tabselected = $(".selected_pro").attr("id");
            var tabclass = "";
            if (tabselected == "face") {
                tabclass = "choose_product_face";
                var note1 = $("." + tabclass).children(".note1");
                var note2 = $("." + tabclass).children(".note2");
                var note3 = $("." + tabclass).children(".note3");

                if (note1.css("display") == "none" && note2.css("display") == "none" && note3.css("display") == "block") {
                    note3.hide();
                    note2.fadeIn();
                }
                else if (note1.css("display") == "none" && note2.css("display") == "block" && note3.css("display") == "none") {
                    note2.hide();
                    note1.fadeIn();
                }
            }
            else if (tabselected == "lip") {
                tabclass = "choose_product_lip";
                //var note1 = $("." + tabclass).children(".note1");
                var note2 = $("." + tabclass).children(".note2");

                //if (note1.css("display") == "none" && note2.css("display") == "block") {
                //    note2.hide();
                //    note1.fadeIn();
                //}
                if (note2.css("display") == "block") {
                    $(".choose_product_face").fadeIn();
                    $(".choose_product_lip").hide();
                    $(".choose_product_eye").hide();
                    ClearClass();
                    $('#face').addClass('selected_pro');
                }
            }
            else if (tabselected == "eye") {
                tabclass = "choose_product_eye";
                $(".choose_product_face").hide();
                $(".choose_product_lip").fadeIn();
                $(".choose_product_eye").hide();
                ClearClass();
                $('#lip').addClass('selected_pro');
            }

        }

        function ClearClass() {
            $('#face').removeClass('selected_pro');
            $('#lip').removeClass('selected_pro');
            $('#eye').removeClass('selected_pro');
        }

        function Chooselaugh(value) {
            $(value).hide();
            $(".textaxamp_default").hide();
            $(".text_smile").fadeIn();
            $(".smile").fadeIn();
        }

        function NextStepMouth(value) {
            if ($(".examp").css("display") == "block" && $(".content_step3").css("display") == "none") {
                curveLayer.get("#face")[0].setDraggable(false);
                $(".smile").fadeIn();
                $(value).hide();
            }
        }

        function NextStep3(value) {
            openMouth = value;
            // Hide teeth control if needed
            curveLayer.get('#teeth')[0].setVisible(openMouth);
            var teethKnobs = regionLayer.get('.teeth');
            for (var i = 0; i < teethKnobs.length; i++) {
                teethKnobs[i].setVisible(openMouth);
            }

            if ($(".examp").css("display") == "block" && $(".content_step3").css("display") == "none") {
                $(".content_step3").fadeIn();
                $(".examp").hide();

                if (foundationType == "") {
                    $('#zoomSlider').val(0);
                    Zoom(0);
                }
            }
        }

        //Next Step process eye
        var MakeEyelids = false;
        var countMakeEyelids = 0;
        function NextStepProcessEye() {
            //turn off background transparent and continue step
            $('#continue_magnum').hide();
            if (MakeEyelids == false && countMakeEyelids == 0) {
                $('#backgroundtransparent').hide();
                $('.mascara_image').fadeOut();
                $('.mascara_text').fadeOut(function () {
                    NextStepCreatelids("magnum_image", "Images/eyelip_left_( level1 ).png", "Images/eyelip_right_( level1 ).png", "eyeright", "eyeleft");
                    MakeEyelids = true;
                });
            }
            if (countMakeEyelids == 1) {
                NextStepCreatelids("mascara_tools", "Images/eyelip_left_( level2 ).png", "Images/eyelip_right_( level2 ).png", "eyeright", "eyeleft");
            }
            if (countMakeEyelids == 2) {
                NextStepCreatelids("mascara_tools_2", "Images/eyelip_left(max).png", "Images/eyelip_right(max).png", "eyeright", "eyeleft");
            }
            if (countMakeEyelids == 3) {
                setVisibleControlRegion(false);
                stage.off("mouseover");
                $('#imageEditor').css("z-index", 99999);
                $('#backgroundtransparent').fadeIn();
                Zoom(0);
                $('#imageEditor').transition({ x: 400 }, function () {
                    $("#continue_magnum").hide();
                    $('#originalImage').fadeIn();
                    $('.originalImage').fadeIn();
                    $('.originalImage').css("height", "402");
                    $('.originalImage').css("z-index", "1200");
                    $('#originalImage').css("z-index", "9999");
                    $('#originalImage').attr("src", $("#ImageUrl").val());
                    var iframvideo = "<iframe width='420' height='315' src='http://www.youtube.com/embed/xXmdSPDVKcg?version=3&end=003&autoplay=1 ' frameborder='0' allowfullscreen></iframe>"
                    //Play Video cuối game.
                    $('.video_mascara').css("z-index", "99999");
                    $('.close').css("z-index", "99999");
                    $('#player').replaceWith(iframvideo);
                    soundHanlder.stop();
                    $('.video_mascara').delay(1000).fadeIn('fast', function () {
                        $('#come_back').fadeIn();
                        $('#come_back').css("z-index", "99999");
                        $('#textImage').css("z-index", "999999");
                        $('#textImage').transition({
                            top: -90,
                            right: -110,
                            opacity: 1,
                            scale: 0.4
                        }, 500);
                    });

                });
            }
            countMakeEyelids++;
        }

        //Close popup video
        function hidepopup(value) {
            $('.video_mascara').css("z-index", "0");
            $('.close').css("z-index", "0");
            $(".video_mascara").hide();
            soundHanlder.play();
        }

        //Video Youtube
        //var tag = document.createElement('script');
        //tag.src = "//www.youtube.com/iframe_api";
        //var firstScriptTag = document.getElementsByTagName('script')[0];
        //firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        //var player;
        //function onYouTubeIframeAPIReady() {
        //    player = new YT.Player('player', {
        //        height: '315',
        //        width: '420',
        //        videoId: 'z1PHlAC2bRc',
        //        playerVars: { 'autoplay': 0, 'controls': 0 }
        //    });
        //}
        //function onPlayerReady(event) {
        //    event.target.playVideo();
        //}

        //var done = false;
        //function onPlayerStateChange(event) {
        //    if (event.data == YT.PlayerState.PLAYING && !done) {
        //        setTimeout(stopVideo, 6000);
        //        done = true;
        //    }
        //}
        //function stopVideo() {
        //    player.stopVideo();
        //}
        //function playVideo() {
        //    player.playVideo();
        //}

        //maguna fly
        function NextStepCreatelids(classname, src1, src2, eye1, eye2) {
            var x1 = GetPositionEyeOnPage(eye2)[0].x;
            var y1 = GetPositionEyeOnPage(eye2)[0].y;
            var x2 = GetPositionEyeOnPage(eye1)[0].x;
            var y2 = GetPositionEyeOnPage(eye1)[0].y;
            console.log(x1 + "..." + y1 + "..." + x2 + "..." + y2);
            $('.' + classname).show(function () {
                $(this).animate({
                    right: x1,
                    top: y1,
                    duration: 1000
                }, function () {
                    $(this).animate({ right: x1 - 20, top: y1, duration: 200 }, function () {
                        $(this).animate({ right: x1 + 20, top: y1, duration: 200 }, function () {
                            $(this).animate({
                                right: x2,
                                top: y2,
                                duration: 500
                            }, function () {
                                $(this).animate({ right: x2 - 20, top: y2, duration: 200 }, function () {
                                    $(this).animate({ right: x2 + 20, top: y2, duration: 200 }, function () {
                                        eyeSrc1 = src1;
                                        eyeSrc2 = src2;
                                        DrawEyelids();
                                        $(this).animate({
                                            top: 250,
                                            left: -1400,
                                            duration: 800
                                        }, function () {
                                            $(this).hide();
                                            $('#continue_magnum').fadeIn();
                                        });
                                    });
                                });

                            });
                        });

                    });
                });
            });
        }


        //Play agen
        function ComeBack(newLocation) {
            window.location = newLocation;
            return false;
        }

        $(document).ready(function () {
            initColor();
        });
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <img id="transparent-pixel" src="Content/transparent.png" alt="" />
    <div class="game_content" style="width: 800px; position: relative;">
        <div class="makeup_step2 clearfix">
            <div class="DrawLocal">
                <div id="imageEditor"></div>
                <div class="scrollbar" style="margin-bottom: 20px;">
                    <asp:HiddenField ID="ImageUrl" runat="server" ClientIDMode="Static" />
                    <div style="margin-top: 400px;">
                        <input id="zoomSlider" class="easyui-slider" value="0" style="width: 130px" data-options="
                            max: 9,
                            min: 0,
				            showTip: false,
				            tipFormatter: function(value){
					            return value;
				            },
				            onChange: function(value){
					            $('#ZoomValue').attr('value', value);
                                Zoom(value);
				            }" />
                    </div>
                    <input type="hidden" value="0" id="ZoomValue" name="ZoomValue" />
                </div>
            </div>
            <div class="examp" style="display: block;">
                <img src="Images/examp_step2.jpg" alt="" style="border: 1px solid #fff;" />
                <div class="text_examp">
                    <span class="textaxamp_default">Hãy chỉnh lại các điểm cho vừa vặn với khuôn mặt</span>
                    <span class="text_smile">Bạn cười hở miệng hay khép miệng ?</span>
                </div>
                <div class="hspace"></div>
                <a class="button_upload" onclick="NextStepMouth(this)">OK</a>
                <a class="smile" onclick="NextStep3(true)">Hở miệng</a>
                <a class="smile" onclick="NextStep3(false)" style="padding-left: 38px;">Khép miệng</a>
            </div>
            <div class="content_step3" style="display: none;">
                <ul class="menu_step3">
                    <li><a href="javascript:tabstrans('face');" id="face" class="selected_pro">MẶT</a></li>
                    <li><a href="javascript:tabstrans('lip');" id="lip">MÔI</a></li>
                    <li><a href="javascript:tabstrans('eye');" id="eye">MẮT</a></li>
                </ul>
                <div class="clear"></div>
                <div class="choose_product_face" style="display: block;">
                    <div class="note1" style="display: block;">
                        <div class="title_play">
                            Các bước trang điểm để có 1 lớp nền hiệu quả
                        </div>
                        <img src="Images/face.png" style="float: left" />
                        <div class="desc_prod">
                            Bước 1 : BB Cream
                        </div>
                        <div class="desc_prod" style="width: auto; padding-top: 10px;">
                            Chọn màu
                        </div>
                        <a href="javascript:void(0);" onclick="updateFoundationType('creamlight')">
                            <img src="Images/light.png" alt="" style="margin-left: 20px;" />
                        </a>
                        <a href="javascript:void(0);" onclick="updateFoundationType('creamskin')">
                            <img src="Images/skin.png" alt="" style="margin-left: 20px;" />
                        </a>
                        <div class="desc_prod" style="padding-top: 14px;">
                            Đậm nhạt
                        </div>
                        <div style="margin-top: 2px; margin-left: 195px;">
                            <input class="easyui-slider" value="4" style="width: 130px" data-options="
                            max: 4,
                            min: 0,
				            showTip: false,
				            tipFormatter: function(value){
					            return value;
				            },
				            onChange: function(value) {
                                foundationFade = value;
                                makeup();
				            }" />
                        </div>
                        <div class="clear" style="height: 20px;"></div>
                    </div>
                    <div class="note2" style="display: none;">
                        <div class="title_play">
                            Các bước trang điểm để có 1 lớp nền hiệu quả
                        </div>
                        <img src="Images/face_2.png" style="float: left" />
                        <div class="content_desc">
                            <div class="desc_prod">
                                Bước 2 : BB SILK Phấn nền chống nhờn siêu mịn
                            </div>
                            <div class="desc_prod" style="width: auto; padding-top: 10px;">
                                Chọn màu                  
                            </div>
                            <a href="javascript:void(0);" onclick="updateSilkType('silklight')">
                                <img src="Images/light.png" alt="" style="margin-left: 10px;" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateSilkType('silkskin')">
                                <img src="Images/skin.png" alt="" style="margin-left: 10px;" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateSilkType('silkdark')">
                                <img src="Images/dark.png" alt="" style="margin-left: 10px;" />
                            </a>
                            <div class="desc_prod" style="padding-top: 13px;">
                                Đậm nhạt
                            </div>
                            <div style="margin-top: 2px; margin-left: 110px;">
                                <input class="easyui-slider" value="3" style="width: 130px" data-options="
                                    max: 6,
                                    min: 0,
				                    showTip: false,
				                    tipFormatter: function(value){
					                    return value;
				                    },
				                    onChange: function(value){
                                        silkFade = value;
                                        makeup();
				                    }" />
                            </div>
                        </div>
                        <div class="clear" style="height: 20px;"></div>
                    </div>
                    <div class="note3" style="display: none;">
                        <div class="title_play">
                            Các bước trang điểm để có 1 lớp nền hiệu quả
                        </div>
                        <img src="Images/face_1.png" style="float: left; margin-top: 10px;" />
                        <div class="content_desc">
                            <div class="desc_prod">
                                Bước 3 : CLEAR SMOOTH BLUSH
                            </div>
                            <div class="desc_prod" style="width: auto; padding-top: 2px;">
                                Chọn màu                  
                            </div>
                            <a href="javascript:void(0);" onclick="updateCheekColor('cheekColor1')">
                                <img src="Images/color (1).png" alt="" style="margin-left: 10px;" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateCheekColor('cheekColor2')">
                                <img src="Images/color (2).png" alt="" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateCheekColor('cheekColor3')">
                                <img src="Images/color (3).png" alt="" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateCheekColor('cheekColor4')">
                                <img src="Images/color (4).png" alt="" />
                            </a>
                            <div class="clear" style="height: 10px;"></div>
                            <div class="desc_prod" style="width: auto; padding-top: 2px;">
                                Chọn kiểu
                            </div>
                            <a href="javascript:void(0);" onclick="updateCheekType(0)">
                                <img src="Images/style_1.png" alt="" style="margin-left: 10px;" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateCheekType(1)">
                                <img src="Images/style_2.png" alt="" style="margin-left: 10px;" />
                            </a>
                            <div class="desc_prod" style="padding-top: 12px;">
                                Đậm nhạt
                            </div>
                            <div style="margin-left: 100px;">
                                <input class="easyui-slider" value="13" style="width: 130px" data-options="
                                    max: 20,
                                    min: 7,
				                    showTip: false,
				                    tipFormatter: function(value){
					                    return value;
				                    },
				                    onChange: function(value) {
                                        cheekFade = value;
                                        makeup();
				                    }" />
                            </div>
                        </div>
                        <div class="clear" style="height: 20px;"></div>
                    </div>
                </div>
                <div class="choose_product_lip">
                    <%--<div class="note1" style="display: block;">
                        <div class="title_play">
                            Các bước trang điểm để có 1 lớp nền hiệu quả
                        </div>
                        <img src="Images/lip.png" style="float: left" />
                        <div class="content_desc">
                            <div class="desc_prod">
                                Bước 1 : BABY LIPS COLOR Son dưỡng ngày & đêm
                            </div>
                            <div class="desc_prod" style="width: auto; padding-top: 2px;">
                                Chọn mùi                  
                            </div>
                            <a href="javascript:void(0);" onclick="updateLip1Type('lip1Color1')">
                                <img src="Images/lip (1).png" alt="" style="margin-left: 20px;" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateLip1Type('lip1Color2')">
                                <img src="Images/lip (2).png" alt="" style="margin-left: 10px;" />
                            </a>
                            <a href="javascript:void(0);" onclick="updateLip1Type('lip1Color3')">
                                <img src="Images/lip (3).png" alt="" style="margin-left: 10px;" />
                            </a>
                            <div class="desc_prod" style="padding-top: 14px;">
                                Đậm nhạt
                            </div>
                            <div style="margin-top: 2px; margin-left: 110px;">
                                <input class="easyui-slider" value="7" style="width: 130px" data-options="
                                    max: 10,
                                    min: 4,
				                    showTip: false,
				                    tipFormatter: function(value){
					                    return value;
				                    },
				                    onChange: function(value){
					                    lip1Fade = value;
                                        makeup();
				                    }" />
                            </div>
                        </div>
                        <div class="clear" style="height: 20px;"></div>
                    </div>--%>
                    <div class="note2" style="display: block;">
                        <div class="title_play">
                            Các bước trang điểm để có 1 lớp nền hiệu quả
                        </div>
                        <img src="Images/lip_1.png" style="float: left" />
                        <div class="content_desc">
                            <div class="desc_prod">
                                Bước 1 : COLOR SENSATIONAL MOISTURE EXTREME Son môi dưỡng ẩm
                            </div>
                            <div class="desc_prod" style="width: auto; padding-top: 2px;">
                                Chọn màu                  
                            </div>
                            <div style="float: right; width: 230px;">
                                <a href="javascript:void(0)" onclick="updateLip2Type('lip2Color1')">
                                    <img src="Images/red.png" alt="" style="margin-left: 5px;" />
                                </a>
                                <a href="javascript:void(0)" onclick="updateLip2Type('lip2Color2')">
                                    <img src="Images/slow_orange.png" alt="" style="margin-left: 5px;" />
                                </a>
                                <a href="javascript:void(0)" onclick="updateLip2Type('lip2Color3')">
                                    <img src="Images/orange.png" alt="" style="margin-left: 5px;" />
                                </a>
                                <a href="javascript:void(0)" onclick="updateLip2Type('lip2Color4')">
                                    <img src="Images/slow_pink.png" alt="" style="margin-left: 5px;" />
                                </a>
                                <a href="javascript:void(0)" onclick="updateLip2Type('lip2Color5')">
                                    <img src="Images/pink.png" alt="" style="margin-left: 5px;" />
                                </a>
                            </div>
                            <div class="hspace"></div>
                            <div class="desc_prod">
                                Đậm nhạt
                            </div>
                        </div>
                        <div style="margin-left: 180px; margin-top: 200px;">
                            <input class="easyui-slider" value="10" style="width: 130px" data-options="
                                max: 15,
                                min: 4,
				                showTip: false,
				                tipFormatter: function(value){
					                return value;
				                },
				                onChange: function(value){
					                lip2Fade = value;
                                    makeup();
				                }" />
                        </div>
                    </div>
                    <div class="clear" style="height: 20px;"></div>
                </div>
                <div class="choose_product_eye" style="padding: 0;">
                </div>
                <a class="button_upload" style="margin: 0; float: left;" onclick="PrevFace()">Quay lại</a>
                <a class="button_upload" style="margin: 0; float: left;" onclick="SelectFace()">Tiếp tục</a>
            </div>
        </div>
    </div>

    <div class="mascara_text" style="font-size: 20px; font-family: Arial; font-weight: bold; display: none; position: absolute; top: 50px; left: 130px; z-index: 1200; opacity: 0;">
        <img src="Images/nomascara-nomakeup.png" alt="" />
    </div>
    <div class="mascara_image" style="display: none; position: absolute; top: 50px; left: 220px; z-index: 1200;">
        <img src="Images/magnum.png" alt="" />
    </div>
    <div class="magnum_image" style="width: 200px; height: 200px; display: none; position: absolute; top: 218px; right: 302px; z-index: 1300;">
        <img src="Images/bam-mi.png" alt="" />
    </div>
    <div class="mascara_tools" style="width: 200px; height: 200px; display: none; position: absolute; top: 218px; right: 302px; z-index: 1300;">
        <img src="Images/mascara.png" alt="" />
    </div>
    <div class="mascara_tools_2" style="width: 200px; height: 200px; display: none; position: absolute; top: 218px; right: 302px; z-index: 1300;">
        <img src="Images/mascara.png" alt="" />
    </div>
    <a class="button_upload" id="continue_magnum" style="position: absolute; top: 310px; right: 55px; display: none; z-index: 1200;" onclick="NextStepProcessEye()">Tiếp tục</a>
    <div style="width: 100%; height: 100%; background: url('Images/transparent.png') repeat 0 0 transparent; display: none; z-index: 1000; position: absolute; top: 0; left: 0;" id="backgroundtransparent"></div>
    <div style="width: 350px; overflow: hidden; position: absolute; left: 70px; top: 225px; background-color: #fff; border: 1px solid #fff; display: none;" class="originalImage">
        <img style="position: absolute; left: 0; top: 0;" id="originalImage" alt="" />
    </div>
    <img style="position: absolute; right: -1000px; top: -100px; opacity: 0;" id="textImage" alt="" src="Images/result.png" />

    <div class="video_mascara" style="display: none; position: absolute; top: 200px; left: 230px;">
        <a class="close" style="position: absolute; top: -15px; left: -15px; cursor: pointer;" onclick="hidepopup(this)"></a>
        <div id="player"></div>
    </div>

    <a class="button_upload" id="come_back" style="position: absolute; bottom: 0px; right: 380px; display: none;" onclick="return ComeBack('http://web.vietdev.vn/maybeline_magnum/Step1.aspx');">Chơi lại</a>
</asp:Content>
