﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="View.aspx.cs" Inherits="Magnum_Game.Magnum_Game.View" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Maybelline | Magnum Game</title>
    <link rel="stylesheet" href="../Content/Makeup.css" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="magnum_game">
            <div class="game_content">
                <div class="clear"></div>
            </div>
        </div>
    </form>
</body>
</html>
